In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Expert Judgement: Calibration Question

## Change in traffic flow

In [4]:
# Load the filtered data 
df = pd.read_csv(r'C:\Users\liset\Documents\MSc EE 2e jaar\MORE\Group Project\MORE\counts_filtered\counts_filtered.csv')

# Verify column names for vehicle counts, lat, long, and year
vehicle_columns = ["HGVs_2_rigid_axle","HGVs_3_rigid_axle","HGVs_4_or_more_rigid_axle","HGVs_3_or_4_articulated_axle","HGVs_5_articulated_axle","HGVs_6_articulated_axle","all_HGVs"]  # adjust as needed
lat_column = 'latitude'
long_column = 'longitude'
year_column = 'year'
total_trucks_by_year = df.groupby(year_column)[vehicle_columns].sum()

# total_trucks_by_year

In [5]:
period = [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2019, 2020]

yearly_change_2r_axles = []
yearly_change_3r_axles = []
yearly_change_4r_axles = []
yearly_change_34a_axles = []
yearly_change_5a_axles = []
yearly_change_6a_axles = []

for year in period:
    yearly_change_2r_axles.append(((total_trucks_by_year.loc[year + 1, "HGVs_2_rigid_axle"] - total_trucks_by_year.loc[year, "HGVs_2_rigid_axle"]) / total_trucks_by_year.loc[year, "HGVs_2_rigid_axle"]) * 100)
    yearly_change_3r_axles.append(((total_trucks_by_year.loc[year + 1, "HGVs_3_rigid_axle"] - total_trucks_by_year.loc[year, "HGVs_3_rigid_axle"]) / total_trucks_by_year.loc[year, "HGVs_3_rigid_axle"]) * 100)
    yearly_change_4r_axles.append(((total_trucks_by_year.loc[year + 1, "HGVs_4_or_more_rigid_axle"] - total_trucks_by_year.loc[year, "HGVs_4_or_more_rigid_axle"]) / total_trucks_by_year.loc[year, "HGVs_4_or_more_rigid_axle"]) * 100)
    yearly_change_34a_axles.append(((total_trucks_by_year.loc[year + 1, "HGVs_3_or_4_articulated_axle"] - total_trucks_by_year.loc[year, "HGVs_3_or_4_articulated_axle"]) / total_trucks_by_year.loc[year, "HGVs_3_or_4_articulated_axle"]) * 100)
    yearly_change_5a_axles.append(((total_trucks_by_year.loc[year + 1, "HGVs_5_articulated_axle"] - total_trucks_by_year.loc[year, "HGVs_5_articulated_axle"]) / total_trucks_by_year.loc[year, "HGVs_5_articulated_axle"]) * 100)
    yearly_change_6a_axles.append(((total_trucks_by_year.loc[year + 1, "HGVs_6_articulated_axle"] - total_trucks_by_year.loc[year, "HGVs_6_articulated_axle"]) / total_trucks_by_year.loc[year, "HGVs_6_articulated_axle"]) * 100)

# print(f'yearly changes: {yearly_change_2axles}')
print(f'mean yearly change for 2-rigid axle trucks from 2000 to 2020: {np.mean(yearly_change_2r_axles):.4f} %')
print(f'mean yearly change for 3-rigid axle trucks from 2000 to 2020: {np.mean(yearly_change_3r_axles):.4f} %')
print(f'mean yearly change for 4- or more rigid axle trucks from 2000 to 2020: {np.mean(yearly_change_4r_axles):.4f} %')
print(f'mean yearly change for 3- 4-articulated axle trucks from 2000 to 2020: {np.mean(yearly_change_34a_axles):.4f} %')
print(f'mean yearly change for 5-articulated axle trucks from 2000 to 2020: {np.mean(yearly_change_5a_axles):.4f} %')
print(f'mean yearly change for 6-articulated axle trucks from 2000 to 2020: {np.mean(yearly_change_6a_axles):.4f} %')

mean yearly change for 2-rigid axle trucks from 2000 to 2020: -0.6543 %
mean yearly change for 3-rigid axle trucks from 2000 to 2020: 1.3503 %
mean yearly change for 4- or more rigid axle trucks from 2000 to 2020: 2.7212 %
mean yearly change for 3- 4-articulated axle trucks from 2000 to 2020: -4.4278 %
mean yearly change for 5-articulated axle trucks from 2000 to 2020: -0.5239 %
mean yearly change for 6-articulated axle trucks from 2000 to 2020: 5.1954 %

## Truck weights

In [7]:
# List of axle load columns
axle_load_columns = [
    'axle 1 [kg]', 'axle 2 [kg]', 'axle 3 [kg]', 'axle 4 [kg]', 'axle 5 [kg]', 
    'axle 6 [kg]', 'axle 7 [kg]', 'axle 8 [kg]', 'axle 9 [kg]', 'axle 10 [kg]', 
    'axle 11 [kg]', 'axle 12 [kg]', 'axle 13 [kg]', 'axle 14 [kg]'
]

# List of spacing columns
spacing_columns = [
    'ax1 - ax2 [cm]', 'ax2 - ax3 [cm]', 'ax3 - ax4 [cm]', 'ax4 - ax5 [cm]', 
    'ax6 - ax7 [cm]', 'ax7 - ax8 [cm]', 'ax8 - ax9 [cm]', 'ax10 - ax11 [cm]', 
    'ax11 - ax12 [cm]', 'ax12 - ax13 [cm]', 'ax13 - ax14 [cm]'
]

# Importing data and combining in 1 large dataframe
data_left = pd.read_csv('DATA_RW_12L_April2013.csv', delimiter=';', skipinitialspace=True, index_col=False);
data_right = pd.read_csv('DATA_RW_12R_April2013.csv', delimiter=';', skipinitialspace=True, index_col=False);
combined_data = pd.concat([data_left, data_right], ignore_index=True)

# Some renaming of columns and adding of new columns to make things easier
combined_data.rename(columns={'ax3- ax4 [cm]': 'ax3 - ax4 [cm]'}, inplace=True)
combined_data['wheelbase [cm]'] = combined_data[spacing_columns].sum(axis=1)
combined_data['number_of_axles'] = combined_data[axle_load_columns].count(axis=1)

combined_data.head()

C:\Users\liset\AppData\Local\Temp\ipykernel_21136\2987827041.py:16: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  data_left = pd.read_csv('DATA_RW_12L_April2013.csv', delimiter=';', skipinitialspace=True, index_col=False);
C:\Users\liset\AppData\Local\Temp\ipykernel_21136\2987827041.py:17: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  data_right = pd.read_csv('DATA_RW_12R_April2013.csv', delimiter=';', skipinitialspace=True, index_col=False);

,date,time,ID,lane,subcat,velocity [km/h],length [cm],mass [kg],axle 1 [kg],axle 2 [kg],...,ax4 - ax5 [cm],ax6 - ax7 [cm],ax7 - ax8 [cm],ax8 - ax9 [cm],ax10 - ax11 [cm],ax11 - ax12 [cm],ax12 - ax13 [cm],ax13 - ax14 [cm],wheelbase [cm],number_of_axles
0,01-Apr-2013,06:29:29,24516576,RW-12-L-2,T11O3,87,1716,15694,5392,4506,...,132.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1226.0,5
1,01-Apr-2013,06:45:35,24516659,RW-12-L-2,T11O3,84,1565,15024,5310,4242,...,134.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1261.0,5
2,01-Apr-2013,07:08:57,24516768,RW-12-L-2,V112,105,1158,8750,1428,2270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,855.0,4
3,01-Apr-2013,07:34:19,24516902,RW-12-L-2,T11O3,88,1693,18391,6216,4764,...,133.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1208.0,5
4,01-Apr-2013,07:49:12,24516995,RW-12-L-2,B12,101,1318,19375,7209,8221,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,813.0,3

In [8]:
# Condition 1: Wheelbase < 1 meter
condition_1 = combined_data['wheelbase [cm]'] < 100  

# Condition 2: Wheelbase < 30m and spacing > 10m
condition_2 = (combined_data['wheelbase [cm]'] < 3000) & ((combined_data['ax1 - ax2 [cm]'] > 1000) | (combined_data['ax13 - ax14 [cm]'] > 1000))

# Condition 3: Wheelbase > 40 meters
condition_3 = combined_data['wheelbase [cm]'] > 4000  

# Condition 4: Axle load <= 0 tons
condition_4 = (combined_data[axle_load_columns].le(0)).any(axis=1)

# Condition 5: Axle load > 40 tons
condition_5 = (combined_data[axle_load_columns].gt(40000)).any(axis=1)

# Condition 6: Axle weight > 15 tons and > 85% of gross vehicle weight
condition_6 = (combined_data[axle_load_columns].max(axis=1) > 15000) & (combined_data[axle_load_columns].max(axis=1) / combined_data['mass [kg]'] > 0.85)

# Condition 7: Gross vehicle weight <= 0 tons
condition_7 = combined_data['mass [kg]'] <= 0  

# Condition 8: Sum of axle loads not within 50kg of gross vehicle weight
sum_axle_loads = combined_data[axle_load_columns].sum(axis=1)
condition_8 = (abs(sum_axle_loads - combined_data['mass [kg]']) > 50)

# Condition 9: less or equal to 2 m first two axles, one of which is larger than 10 tons and over 2.5 times heavier than other axle.
closely_spaced = combined_data['ax1 - ax2 [cm]'] <= 200
axle1_load = combined_data['axle 1 [kg]']
axle2_load = combined_data['axle 2 [kg]']
one_axle_heavy = (axle1_load > 10000) | (axle2_load > 10000)
axle_weight_ratio = (axle1_load / axle2_load > 2.5) | (axle2_load / axle1_load > 2.5)
condition_9 = closely_spaced & one_axle_heavy & axle_weight_ratio

# Condition 10: First spacing between the first two axles larger than 15m
condition_10 = combined_data['ax1 - ax2 [cm]'] > 1500  

# Condition 11: Any spacing less than 0.4 meters
condition_11 = combined_data[spacing_columns].min(axis=1) < 40  # Less than 0.4 meters

# Condition 12: Mismatch between number of axle spacings and number of axle loads
condition_12 = combined_data[axle_load_columns].count(axis=1) != (combined_data[spacing_columns].count(axis=1) + 1)

## Condition 13: Sum of axle spacings not within 50 mm of wheelbase.
## Unfortunately, we didn't have a seperate column for wheelbase in our csv file, so we cant do this calculation. We just added one ourselfs by summing the axle spacing, so comparing them would result in zero difference for all vehicles.

#Condition 14: Number of axles below or equal to 1.
condition_14 = combined_data[axle_load_columns].count(axis=1) <= 1

#Condition 15: First axle spacing in the interval of 10 m–15 m.
condition_15 = (combined_data['ax1 - ax2 [cm]'] >= 1000) & (combined_data['ax1 - ax2 [cm]'] <= 1500)

#Condition 16: 16.	Each spacing in range of 0,4 m–0,7 m.
condition_16 = combined_data[spacing_columns].ge(40).all(axis=1) & combined_data[spacing_columns].lt(70).all(axis=1)

#Condition 17: Each spacing in range of 0,7 m–1,0 m.
condition_17 = combined_data[spacing_columns].ge(70).all(axis=1) & combined_data[spacing_columns].lt(100).all(axis=1)

#Condition 18: Each axle load in the interval of 25 tons–40 tons.
condition_18 = combined_data[axle_load_columns].ge(25000).all(axis=1) & combined_data[axle_load_columns].lt(40000).all(axis=1)

#Condition 19: Each axle load below 0,5 tons.
condition_19 = combined_data[axle_load_columns].lt(500).all(axis=1)

#Condition 20: Vehicles with same WIM identification number (ID).
condition_20 = combined_data.duplicated(subset='ID', keep=False)

#Condition 21: Vehicles with a gross vehicle weight below 3,56 tons.
condition_21 = combined_data['mass [kg]'] < 3560

#Condition 22: Vehicles with a gross vehicle weight above 112 tons.
condition_22 = combined_data['mass [kg]'] > 112000

#Condition 23: Vehicles with a speed greater than 120 km/h.
condition_23 = (combined_data['velocity [km/h]'] > 120) | (combined_data['velocity [km/h]'] < 60)

#Condition 24: The vehicles with gross vehicle weight larger than 71.3 tons and or length bumper-to-bumper above than 25,5 m and axle spacing above 12,5 m (data related to a combination of two vehicles).
condition_24 = (
    (combined_data['mass [kg]'] > 71300) |
    (
        (combined_data['length [cm]'] > 2550) &
        (combined_data[spacing_columns].max(axis=1) > 1250)
    )
)

#Condition 25: Vehicles with inter axle distances less than 75 cm.
condition_25 = combined_data[spacing_columns].min(axis=1) < 75

#Condition 26: Duplicate records.
condition_26 = combined_data.duplicated(keep=False)

# Combine all conditions
filter_out_conditions = condition_1 | condition_2 | condition_3 | condition_4 | condition_5 | \
                         condition_6 | condition_7 | condition_8 | condition_10 | condition_11 | \
                          condition_12 | condition_14 | condition_15 | condition_16 | condition_17 | \
                           condition_18 | condition_19 | condition_20 | condition_21 | condition_22 | \
                            condition_23 | condition_24 | condition_25 | condition_26

# Keep only rows that do NOT meet any of these conditions
cleaned_data = combined_data[~filter_out_conditions]

In [9]:
print(len(cleaned_data), len(combined_data))

317993 326862

In [10]:
data = cleaned_data
# data.describe().round(2)
data.head()

,date,time,ID,lane,subcat,velocity [km/h],length [cm],mass [kg],axle 1 [kg],axle 2 [kg],...,ax4 - ax5 [cm],ax6 - ax7 [cm],ax7 - ax8 [cm],ax8 - ax9 [cm],ax10 - ax11 [cm],ax11 - ax12 [cm],ax12 - ax13 [cm],ax13 - ax14 [cm],wheelbase [cm],number_of_axles
0,01-Apr-2013,06:29:29,24516576,RW-12-L-2,T11O3,87,1716,15694,5392,4506,...,132.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1226.0,5
1,01-Apr-2013,06:45:35,24516659,RW-12-L-2,T11O3,84,1565,15024,5310,4242,...,134.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1261.0,5
2,01-Apr-2013,07:08:57,24516768,RW-12-L-2,V112,105,1158,8750,1428,2270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,855.0,4
3,01-Apr-2013,07:34:19,24516902,RW-12-L-2,T11O3,88,1693,18391,6216,4764,...,133.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1208.0,5
4,01-Apr-2013,07:49:12,24516995,RW-12-L-2,B12,101,1318,19375,7209,8221,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,813.0,3

In [11]:
# Group by number of axles and determine the mean mass [kg] per group

masses_2axle = data[data['number_of_axles'] == 2]['mass [kg]'].tolist()
masses_3axle = data[data['number_of_axles'] == 3]['mass [kg]'].tolist()
masses_4axle = data[data['number_of_axles'] == 4]['mass [kg]'].tolist()
masses_5axle = data[data['number_of_axles'] == 5]['mass [kg]'].tolist()
masses_6axle = data[data['number_of_axles'] == 6]['mass [kg]'].tolist()
masses_7axle = data[data['number_of_axles'] == 7]['mass [kg]'].tolist()
masses_6or7axle = data[(data['number_of_axles'] == 6) | (data['number_of_axles'] == 7)]['mass [kg]'].tolist()

# Example: print one of the lists
mean_2axle_kg = np.mean(masses_2axle)
mean_2axle_ton = mean_2axle_kg / 1000
mean_3axle_kg = np.mean(masses_3axle)
mean_3axle_ton = mean_3axle_kg / 1000
mean_4axle_kg = np.mean(masses_4axle)
mean_4axle_ton = mean_4axle_kg / 1000
mean_5axle_kg = np.mean(masses_5axle)
mean_5axle_ton = mean_5axle_kg / 1000
mean_6axle_kg = np.mean(masses_6axle)
mean_6axle_ton = mean_6axle_kg / 1000
mean_7axle_kg = np.mean(masses_7axle)
mean_7axle_ton = mean_7axle_kg / 1000
mean_6or7axle_kg = np.mean(masses_6or7axle)
mean_6or7axle_ton = mean_6or7axle_kg / 1000

print(f'mean of 2-axle trucks masses: {mean_2axle_kg:.4f} kg = {mean_2axle_ton:.4f} tonnes')
print(f'mean of 3-axle trucks masses: {mean_3axle_kg:.4f} kg = {mean_3axle_ton:.4f} tonnes')
print(f'mean of 4-axle trucks masses: {mean_4axle_kg:.4f} kg = {mean_4axle_ton:.4f} tonnes')
print(f'mean of 5-axle trucks masses: {mean_5axle_kg:.4f} kg = {mean_5axle_ton:.4f} tonnes')
print(f'mean of 6-axle trucks masses: {mean_6axle_kg:.4f} kg = {mean_6axle_ton:.4f} tonnes')
print(f'mean of 7-axle trucks masses: {mean_7axle_kg:.4f} kg = {mean_7axle_ton:.4f} tonnes')
print(f'mean of 6- or 7-axle trucks masses: {mean_6or7axle_kg:.4f} kg = {mean_6or7axle_ton:.4f} tonnes')

mean of 2-axle trucks masses: 11306.5809 kg = 11.3066 tonnes
mean of 3-axle trucks masses: 17329.4992 kg = 17.3295 tonnes
mean of 4-axle trucks masses: 21264.8788 kg = 21.2649 tonnes
mean of 5-axle trucks masses: 30688.2269 kg = 30.6882 tonnes
mean of 6-axle trucks masses: 43353.3175 kg = 43.3533 tonnes
mean of 7-axle trucks masses: 43761.0396 kg = 43.7610 tonnes
mean of 6- or 7-axle trucks masses: 43392.9198 kg = 43.3929 tonnes